*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
html, body {
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;

}
.secao-generica {
    width: 100vw;
    height: 100vh;
}
#receitas-com-afeto img {
    width: 100%; 
}
#receitas-com-afeto h1 {
    position: absolute;
    width: 470px;
    height: 270px;
    left: 1000px;
    top: 325px;
    font-weight: 800;
    font-size: 70px;
    line-height: 80px;
    text-transform: lowercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}
#titulo-receitas-da-semana {
    position: absolute;
    width: 830px;
    height: 67px;
    left: 305px;
    top: 865px;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    text-transform: lowercase;
    color: #FFA000;
}
#secao-2 {
    margin: 120px 0px;
}
#secao-2 .secao-generica {
    margin: -200px 0px;
} 

.card-horizontal {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    align-items: center;
    
}
.card-receita {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.card-receita strong {
    font-size: 26px;
    margin: 2px 0px;
}
.card-receita button {
    font-size: 24px;
    color: #FFF;
    border: 0;
    background-color: #176902;
    padding: 6px;
    width: 150px;
    cursor: pointer;
}
.card-receita button:hover {
    background-color: #176902;
    transition: 0,4s;
}
#comer-e-viver {
    background-image: url('../../assets/images/comer-e-viver.png');
    width: 100%;
}
#titulo-comer-e-viver {
    left: 122px;
    top: 1915px;
    font-size: 65px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
    position: absolute;
}
#comer-e-viver p {
    color: #FFF;
    position: absolute;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 424px;
    height: 333px;
    left: 123px;
    top: 2100px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
@media screen and (max-width: 1280px) {
    #receitas-com-afeto {
        height: 20rem;  
    }
    #receitas-com-afeto img {
        height: 20rem;
    }
    #receitas-com-afeto h1 {
        top: 14rem;
        font-size: 28px;
        left: 14rem;
        line-height: 40px;
    }
    #titulo-receitas-da-semana {
        font-size: 36px;
        left: -14rem;
        top: 30rem;
    }
    .card-receita {
        text-align: center;
        align-items: center;
    }
}
@media screen and (max-width: 480px) {
    .card-horizontal {
        display: block;
    }
    .card-receita {
        margin: 1rem;   
    }
    .card-receita img {
        width: 90vw;
        height: 49vw;
    }  
    #comer-e-viver h2 {
        top: 1700px;
        font-size: 40px;
        left: 1rem;
    } 
    #comer-e-viver p {
        top: 1800px;
        font-size: 20px;
        width: 100%;
        text-align: center;
        left: -1px;
    } 
}