*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
html, body {
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
#root {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}
main {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 50px 0px;
}
main h1 {
    font-size: larger;
    font-size: 62px;
    color: #ffc107;
}
main img {
    height: 311px;
}
main h1, img, span, ul, h3, iframe, p {
   margin: 20px 0px;
}
main ul {
    margin: 50px 0px;
}
#card-risoto-de-abobora {
    display: flex;
    flex-direction: column;
}
#card-risoto-de-abobora img {
    width: 100%;
    margin-bottom: 20px;
}
.tags {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #176902;
    text-align: center;
    color: #176902;
    font-weight: bold;
}
h3 {
    font-size: 22px;
}
.modo-de-preparo {
    width: 560px;
    font-size: 20px;
}
aside{
    margin-top: 10%;
}
aside article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
aside h2 {
    font-size: 30px;
    color: #ffc107;
}
article strong {
    font-size: 25px;
}
